<div class="app-root">
  <nav class="navbar navbar-expand-md navbar-custom">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" width="200" alt="" class="d-inline-block align-middle mr-2">
    </a>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="route('lotdetails')">Lot Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer">Parts Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>