<h3>Defect Details</h3>
 <gui-grid class="" style="padding: 10px" [source]="defect_details1" (sourceEdited) = "sourceEdited($event)" [cellEditing]="false" >

        <gui-grid-column header="DEFECT_ID" field="DEFECT_ID" >
            <ng-template let-value="value" let-index="value">
                {{value}}
            </ng-template>
        </gui-grid-column>
    
        <gui-grid-column class="time-overflow"header="TYPE" field="TYPE" >
            <ng-template let-value="value" let-item="item">
                {{value}}
            </ng-template>
        </gui-grid-column> 

        <gui-grid-column class="time-overflow" header="DEPTH" field="DEPTH">
            <ng-template let-value="value">
                {{value}}
            </ng-template>
        </gui-grid-column>
    
        <gui-grid-column class="time-overflow" header="ASPECT_RATIO" field="ASPECT_RATIO" >
            <ng-template let-value="value">
                <i>{{value}}</i>
            </ng-template>
        </gui-grid-column>

        <gui-grid-column class="time-overflow"  header="DIAMETER" field="DIAMETER">
            <ng-template let-value="value">
                {{value}}
            </ng-template>
        </gui-grid-column>
    
        <gui-grid-column class="time-overflow"  header="CIRCULAR_RATIO" field="CIRCULAR_RATIO">
            <ng-template let-value="value">
                <i>{{value}}</i>
            </ng-template>
        </gui-grid-column>

        <gui-grid-column class="time-overflow" header="ACTUAL_DIAMETER" field="ACTUAL_DIAMETER">
            <ng-template let-value="value">
                {{value}}
            </ng-template>
        </gui-grid-column>
    
        <gui-grid-column class="time-overflow" header="ACTUAL_HEIGHT" field="ACTUAL_HEIGHT">
            <ng-template let-value="value">
                <i>{{value}}</i>
            </ng-template>
        </gui-grid-column>  

</gui-grid>

<div class="fieldset-style" style="font-size: 12px">
    <fieldset style="padding: 10px; border: solid 1px gray;" >
        <legend style="width:15%; font-size: 14px;" >Defect: Add | Update | Delete </legend>
            <span class="input-width">
                <label style="padding: 5px" for="defect_id">Defect Id</label>
                <input id="defect_id" [(ngModel)] = "formValues.defect_id" (ngModelChange)="defectIdChange($event)">
            </span>  
            <span class="input-width"> 
                <label>Select defect type</label>
                
                <select class='select-option'
                    #dropDown
                    [(value)] = "formValues.defect_type"
                    (change)='defectTypeChange($event)'>
                <option value="">Select type</option>
                <option class='option' value="SCRATCH">SCRATCH</option>
                <option class='option' value="HOLE">HOLE</option>
                <option class='option' value="DIM_ERR">DIM_ERR</option>
                </select>
            </span>
            <span class="input-width" *ngIf="formValues.defect_type != ''" >
                
                    <label style="padding: 5px" *ngIf="formValues.defect_type=='SCRATCH'">DEPTH</label>
                    <label style="padding: 5px" *ngIf="formValues.defect_type=='HOLE'">DIAMETER</label>
                    <label style="padding: 5px" *ngIf="formValues.defect_type=='DIM_ERR'">ACTUAL_DIAMETER</label>
                    <input  [(ngModel)] = "formValues.defect_detail_1">
                  
                </span>  
            <span class="input-width" *ngIf="formValues.defect_type != ''">
                
                    <label style="padding: 5px" *ngIf="formValues.defect_type=='SCRATCH'">ASPECT_RATIO</label>
                    <label style="padding: 5px" *ngIf="formValues.defect_type=='HOLE'">CIRCULAR_RATIO</label>
                    <label style="padding: 5px" *ngIf="formValues.defect_type=='DIM_ERR'">ACTUAL_HEIGHT</label>
                    <input  [(ngModel)] = "formValues.defect_detail_2">
                  
            </span> 

            <div class="validator" *ngIf="invalidInput">*Please fill all the details</div>

            <div>
            <button class="button-width" [disabled]="ifDefectExist" (click)="saveDetails()"> Add</button> 
            <button class="button-width" [disabled]="!ifDefectExist" (click)="updateDetails()">Update</button>
            <button class="button-width" [disabled]="!ifDefectExist" (click)="remove()">Delete</button>
            </div>
    </fieldset>
</div>