.button-width{
    width: 150px;
    margin: 10px;
    border-radius: 3px;
}

.grid-width{
    width: 100%;;
}

.component-container {
    padding: 16px;
}

.time-overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.validator{
    color: red;
}

.info-button{
    width: 20px;
    border-radius: 10px;
    font-style: italic;
    margin-left: 10px;
}

.successValidator{
    color: green;
}